<head>
  <title>meteor_canvas_mp_game</title>
</head>

<body>
  <!-- {{> nameTest}}
  {{> hello}} -->
  {{> Game}}
</body>


<template name="Game">
  <canvas id="canvas" width={{canvasDimensions.x}} height={{canvasDimensions.y}} ></canvas>
</template>





















<template name="hello">
  <button>Click Me</button>
  <p>You've pressed the button {{counter}} times.</p>
</template>

<template name="info">
  <h2>Learn Meteor!</h2>
  <ul>
    <li><a href="https://www.meteor.com/try" target="_blank">Do the Tutorial</a></li>
    <li><a href="http://guide.meteor.com" target="_blank">Follow the Guide</a></li>
    <li><a href="https://docs.meteor.com" target="_blank">Read the Docs</a></li>
    <li><a href="https://forums.meteor.com" target="_blank">Discussions</a></li>
  </ul>
</template>

<template name="nameTest">
  <div>
    <label for="">Change my name: {{name}}</label>
    <input id="name_change" type="text" value={{name}}>
    <button>Change!</button>
  </div>
</template>
